* {
    box-sizing: border-box;
}

.container {
    box-sizing: border-box;
    width: 562px;
    height: 818px;
    padding-top: 97px;
    padding-bottom: 97px;
    padding-left: 43px;
    padding-right: 43px;
    background: #FAFAFA;
    border: 1px solid #DCDCDC;
}

.question {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}